    #bbbody {
        margin-top: 50px;
        padding-top: 50px;
    }
    
    h1 {
        color: rgb(1, 34, 47);
        text-align: center;
    }
    
    #relogio {
        width: 50%;
        text-align: center;
        display: block;
        margin-right: auto;
        margin-left: auto;
        font-size: 110%;
    }
    
    .jumbotron-relogio {
        text-align: center;
    }
    
    #colab {
        text-align: center;
    }
    
    #colab>td {
        font-size: 20px;
        text-align: center;
        width: 75px;
    }
    
    table {
        border-collapse: collapse;
    }
    
    table,
    th,
    td {
        border: 1px solid black;
    }
    
    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
    
    thead,
    th {
        border: 1px solid black;
    }
    
    th {
        background-color: aquamarine;
        width: 30px !important;
    }
    
    #pequena {
        font-size: 50px;
    }
    /* icones de ordenamendo do ranking */
    
    #rank td i {
        cursor: pointer;
        color: #0A6A6A !important;
    }
    
    #rank td i:hover {
        color: #CEA486!important;
    }
    
    #id_estagiario {
        width: 20px;
        height: 20px;
    }
    
    .ckbx {
        width: 20px !important;
        height: 20px !important;
    }
    
    input[type="radio"] {
        width: 20px !important;
        margin-top: 1.2%;
    }