{% extends 'base.html' %} {% load static %} {% block content %} {% if user.is_authenticated and user.email not in emails %}
<!--  2021 -->
<style>
    #abc1 {
        padding: 5px 5px;
        /*background-color: #CEA486!important;
            border: solid black;
            border-width: thin;
            border-bottom: 0px !important;*/
    }
</style>
<div id="abc1" class="container">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="d-flex">
            <h4 style="margin-top: auto">Filtre por: </h4> &nbsp; &nbsp;&nbsp; &nbsp;
            <div class="dropdown">
                <button class=" btn btn-outline-info dropdown-toggle" type="button" data-toggle="dropdown">Usuários
                            <span class="caret"></span>
                        </button>
                <ul style="padding: 5px 15px 5px 15px;width:max-content" class="dropdown-menu" data-flip="false">
                    {% for up in l %}
                        <li>
                            <input type="checkbox" class="ckbx" name='usuario' type="submit" value='{{up.colaborador}}' class='btn btn-light'> &nbsp;&nbsp; &nbsp;
                            <label for="">{{up.colaborador}}</label>
                        </li>
                        {% endfor %}
                </ul>
                &nbsp; &nbsp;
            </div>
            <div class="dropdown">
                <button class=" btn btn-outline-info dropdown-toggle" type="button" data-toggle="dropdown">Anos
                            <span class="caret"></span>
                        </button>
                <ul style="padding: 5px 15px 5px 15px;width:max-content" class="dropdown-menu" data-flip="false">
                    {% for a in A %}
                    <li><input type="checkbox" class="ckbx" name='ano' type="submit" value='{{a.entrada__year}}' class='btn btn-light'> &nbsp;&nbsp; &nbsp;
                        <label for="">{{a.entrada__year}}</label>
                    </li>
                    {% endfor %}
                </ul>
                &nbsp; &nbsp;
            </div>
            <div class="dropdown">
                <button class=" btn btn-outline-info dropdown-toggle" type="button" data-toggle="dropdown">Meses
                        <span class="caret"></span>
                    </button>
                <ul style="padding: 5px 15px 5px 15px;width:max-content" class="dropdown-menu" data-flip="false">
                    <li><input type="checkbox" class="ckbx" id='' name='mes' type="submit" value='1' class='btn btn-light'>&nbsp;<label for="">JAN</label></li>
                    <li><input type="checkbox" class="ckbx" id='' name='mes' type="submit" value='2' class='btn btn-light'>&nbsp;<label for="">FEV</label></li>
                    <li><input type="checkbox" class="ckbx" id='' name='mes' type="submit" value='3' class='btn btn-light'>&nbsp;<label for="">MAR</label></li>
                    <li><input type="checkbox" class="ckbx" id='' name='mes' type="submit" value='4' class='btn btn-light'>&nbsp;<label for="">ABR</label></li>
                    <li><input type="checkbox" class="ckbx" id='' name='mes' type="submit" value='5' class='btn btn-light'>&nbsp;<label for="">MAI</label></li>
                    <li><input type="checkbox" class="ckbx" id='' name='mes' type="submit" value='6' class='btn btn-light'>&nbsp;<label for="">JUN</label></li>
                    <li><input type="checkbox" class="ckbx" id='' name='mes' type="submit" value='7' class='btn btn-light'>&nbsp;<label for="">JUL</label></li>
                    <li><input type="checkbox" class="ckbx" id='' name='mes' type="submit" value='8' class='btn btn-light'>&nbsp;<label for="">AGO</label></li>
                    <li><input type="checkbox" class="ckbx" id='' name='mes' type="submit" value='9' class='btn btn-light'>&nbsp;<label for="">SET</label></li>
                    <li><input type="checkbox" class="ckbx" id='' name='mes' type="submit" value='10' class='btn btn-light'>&nbsp;<label for="">OUT</label></li>
                    <li><input type="checkbox" class="ckbx" id='' name='mes' type="submit" value='11' class='btn btn-light'>&nbsp;<label for="">NOV</label></li>
                    <li><input type="checkbox" class="ckbx" id='' name='mes' type="submit" value='12' class='btn btn-light'>&nbsp;<label for="">DEZ</label></li>
                </ul>
            </div> &nbsp; &nbsp;
            <h4 style="margin-top: auto">Ordenar por: </h4> &nbsp; &nbsp;&nbsp; &nbsp;
            <div class="dropdown">
                <button class=" btn btn-outline-info dropdown-toggle" type="button" data-toggle="dropdown">Coluna
                            <span class="caret"></span>
                        </button>
                <ul style="padding: 5px 15px 5px 15px;width:max-content" class="dropdown-menu" data-flip="false">

                    <li>
                        <input type="checkbox" class="ckbx" name='ordenar_por' id="check1" onclick="selectOnlyThis(this.id)" type="submit" value='ip_address' class='btn btn-light'> &nbsp;&nbsp; &nbsp;
                        <label for="">Endereço IP</label>
                    </li>
                    <li>
                        <input type="checkbox" class="ckbx" name='ordenar_por' id="check2" onclick="selectOnlyThis(this.id)" type="submit" value='colaborador' class='btn btn-light'> &nbsp;&nbsp; &nbsp;
                        <label for="">Nome</label>
                    </li>
                    <li>
                        <input type="checkbox" class="ckbx" name='ordenar_por' id="check3" onclick="selectOnlyThis(this.id)" type="submit" value='entrada' class='btn btn-light'> &nbsp;&nbsp; &nbsp;
                        <label for="">Data</label>
                    </li>
                    <li>
                        <input type="checkbox" class="ckbx" name='ordenar_por' id="check4" onclick="selectOnlyThis(this.id)" type="submit" value='entrada__hour' class='btn btn-light'> &nbsp;&nbsp; &nbsp;
                        <label for="">Entrada</label>
                    </li>
                    <li>
                        <input type="checkbox" class="ckbx" name='ordenar_por' id="check5" onclick="selectOnlyThis(this.id)" type="submit" value='saida__hour' class='btn btn-light'> &nbsp;&nbsp; &nbsp;
                        <label for="">Saida</label>
                    </li>
                    <li>
                        <input type="checkbox" class="ckbx" name='ordenar_por' id="check6" onclick="selectOnlyThis(this.id)" type="submit" value='jornada' class='btn btn-light'> &nbsp;&nbsp; &nbsp;
                        <label for="">Jornada</label>
                    </li>
                    <li>
                        <input type="checkbox" class="ckbx" name='ordenar_por' id="check7" onclick="selectOnlyThis(this.id)" type="submit" value='observacoes' class='btn btn-light'> &nbsp;&nbsp; &nbsp;
                        <label for="">OBS</label>
                    </li>
                </ul>
                &nbsp; &nbsp;
            </div>
            <input style="width: 18px; height:18px; margin-top:.8%;" type="radio" id="A" name="fav_order" value="A">&nbsp;
            <label style='margin-top:.8%' for="A">A-Z</label>&nbsp;
            <input style="width: 18px; height:18px; margin-top:.8%;" type="radio" id="D" name="fav_order" value="D">&nbsp;
            <label style='margin-top:.8%' for="Z">Z-A</label>&nbsp;&nbsp;
            <button class="btn btn-info" type="submit">Filtrar</button>
        </div>
    </form>
</div>

<table id='rank'>
    <tr id='colab'>
        <td>#</td>
        <td>Ip </td>
        <td> Nome</td>
        <td> Data</td>
        <td>Entrada</td>
        <td>Saida</td>
        <td>Jornada trabalhada</td>
        <td>Observações</td>
    </tr>
    {% if p %} {% for periodo in p %}
    <tr id='colab'>
        <td>{{forloop.counter}}</td>
        <td> {{periodo.ip_address}} </td>
        <td> {{periodo.colaborador|title}}</td>
        <td> {{periodo.entrada|date:"d/m/y"}} </td>
        <td> {{periodo.entrada|time:"H:i:s"}} </td>
        <td> {{periodo.saida|time:"H:i:s"}} </td>
        <td> {{periodo.jornada|floatformat:"1"}}</td>
        <td style="width:40%;"> {{periodo.observacoes}}</td>
    </tr>
    {% endfor %} {% endif %}
    <tr>
    </tr>
</table>
<br><br><br>
<!-- if is is_authenticated -->
{% else %}
<h1>Área restrita</h1>

<!--  2021 -->
{% endif %} {% endblock content %}
