{% extends 'base.html' %} {% block title %}
<title>Index</title>
{% endblock title %} {% block body %}

<body onload="moveRelogio()">
    <div class="container">
        <div class="jumbotron jumbotron-relogio">
            <h1><b>Ponto eletronico</b></h1>

            <p>{{ now|date:"D, d/m/y"}}</p>
            <form name="form_relogio">
                <input style='width :20%; background-color:aqua' id='relogio' type="text" name="relogio" onfocus="window.document.form_relogio.relogio.blur()">
            </form>
        </div>
    </div>

</body>
{% endblock body %}
<br><br> {% block ponto %}
<div class="container usuarios">
    <table>
        {% if user.is_authenticated %} {% for dentro in e %} {% if dentro.colaborador == user %}
        <form action="" method="POST">
            {% csrf_token %}
            <tr class='colaborador dentro user'>
                <td>{{dentro.ip_address}}</td>
                <td>
                    <h5 id='dono'>{{ dentro.colaborador.username|title }}</h5>
                </td>
                <!-- se a variavel display desse usuario for reiniciar mostreT APENAS O BOTAO INICIO -->
                {% if dentro.display == 'entrou' %}
                <td>
                    <div class="botao"><span id='entrada' name={{dentro.colaborador.username}} type="submit" value='entrou' class='btn btn-primary'>Início</span></div>
                </td>
                <td>{{dentro.entrada|date:"d/m/y H:i:s"}} </td>
                <td>
                    <div class="botao"><input id='sai' name={{dentro.colaborador.username}} type="submit" value='Término' class='btn btn-danger'></div>
                </td>
                {% endif %}
                <!-- aqui para de apresentar dados do proprio dependentes do display -->
            </tr>
        </form>
        <!-- esse else é para o caso de apresentar dados dos colegas(alheios) que estao dentro mas nao sao os ususaios solicitantes  -->
        {% else %} {% if user.email not in emails %}
        <!-- se  nao estiver na lista de emails com restricao de visualizacao , ou seja nao e estagiario -->
        <tr class='colaborador dentro outros'>
            <td>{{dentro.ip_address}}</td>
            <td>
                <h5 id='dono'>{{ dentro.colaborador.username|title }}</h5>
            </td>
            {% if dentro.display == 'entrou' %}
            <td>
                <div class="botao"><span id='entrada' name={{dentro.colaborador.username}} type="submit" value='entrou' class='btn btn-primary'>Início</span></div>
            </td>
            <td>{{dentro.entrada|date:"d/m/y H:i:s"}} </td>
            <td>
                <div class="botao"><span id='sai' name={{dentro.colaborador.username}} type="submit" value='Término' class='btn btn-danger'>Término</span></div>
            </td>
            {% endif %}
            <!-- termina a apresentacao do ponto (alheio) dos colegas em
                                            dependendo do display dos mesmos -->
        </tr>
        {% endif %} {% endif %} {% endfor %}
        <!-- Se o usuario acabou de entrar no app e nao bateu ponto de entrada -->
        {% if user not in l %}
        <form action="" method="POST">
            {% csrf_token %}
            <tr class='colaborador fora'>
                <td>{{ip_conec}}</td>
                <td>
                    <h5 id='dono'>{{ user|title }}</h5>
                </td>
                <td>
                    <div class="botao"><input id='entrada' name={{user.username}} type="submit" value='Início' class='btn btn-primary'></div>
                </td>
            </tr>
        </form>
        {% endif %} {% endif %}
    </table>
    <br><br> {% if user.is_authenticated %} {% if user in l %}
    <br>
    <br>
    <br>
    <form action="" method="POST">
        {% csrf_token %}
        <p>Suas observações:</p>
        <input type="hidden" name="obs" value={{user.username}}>
        <input style='width : 60%;' type="text" name="obs_text" value='' placeholder="obs:">
        <button class='btn btn-secondary' type="submit">Enviar</button>
    </form>

    <p style="font-size: 0.70em;"><i>(max 300 caracteres)</i></p>
    <br>
    <br>
    <br>
    <table>
        <p>Observações registradas:</p>
        {% for O in OBS %}
        <tr class='colaborador'>
            <td>{{O.colaborador.username|title}}:</td>
            <td>" {{O.observacoes}}" </td>
            <td>
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="del_obs" value={{O.observacoes}}>
                    <div class="botao"><input name="del_obs" type="submit" value='Deletar' class='btn btn-outline-danger'></div>
                </form>
            </td>
        </tr>

        {% endfor %}
    </table>
    {% endif %} {% endif %}
</div>
{% endblock ponto %}