{% extends 'base.html' %}
{% block title %}
<title>Index</title>  
{% endblock title %}
{% block body %}
{% endblock body %}
<br><br>
{% block ponto %}
<div  class="container usuarios">
    
        <table>
        <form action="" method="POST">
                {% csrf_token %}
                {% if  user.is_authenticated %}
                        {% for dentro  in e %}
                                {% if dentro.colaborador == user %}
                                    <tr  class='colaborador dentro user'> 
                                            <td>{{dentro.ip_address}}</td>
                                            <td><h5 id='dono'>{{ dentro.colaborador.username|title }}</h5></td> 
                                            {% if dentro.display == 'reiniciar' %} 
                                                <td ><div class="botao"><input id='entrada'  name={{dentro.colaborador.username}} type="submit" value='Início' class='btn btn-primary'></div></td> 
                                           
                                            {% elif dentro.display == 'entrou' %} 
                                                <td ><div class="botao"><span id='entrada'  name={{dentro.colaborador.username}} type="submit" value='entrou' class='btn btn-primary'>Início</span></div></td> 
                                                <td>{{dentro.entrada|date:"d/m/y H:i:s"}} </td>               
                                                <td ><div class="botao"><input id='sai' name={{dentro.colaborador.username}} type="submit" value='Término' class='btn btn-danger'></div></td> 
                                            {% elif display == 'saiu'  %} 
                                                <td ><div class="botao"><span id='entrada'  name={{dentro.colaborador.username}} type="submit" value='entrou' class='btn btn-primary'>Início</span> </div></td> 
                                                <td>{{dentro.entrada|date:"d/m/y H:i:s "}} </td>               
                                                <td ><div class="botao"><span id='sai' name={{dentro.colaborador.username}} type="submit" value='saiu' class='btn btn-danger'>Témino</span></div></td> 
                                                <td>{{dentro.obs}}</td>
                                            {% endif %}                                     
                                     </tr>
                                {% else %}
                                    <tr  class='colaborador dentro outros'> 
                                            <td>{{dentro.ip_address}}</td>
                                            <td><h5 id='dono'>{{ dentro.colaborador.username|title }}</h5></td> 
                                            {% if dentro.display == 'reiniciar' %} 
                                                <td ><div class="botao"><span id='entrada'  name={{dentro.colaborador.username}} type="submit" value='Início' class='btn btn-primary'></span></div></td> 
                                            {% elif dentro.display == 'entrou' %} 
                                                <td ><div class="botao"><span id='entrada'  name={{dentro.colaborador.username}} type="submit" value='entrou' class='btn btn-primary'>Início</span></div></td> 
                                                <td>{{dentro.entrada|date:"d/m/y H:i:s"}} </td>               
                                                <td ><div class="botao"><span id='sai' name={{dentro.colaborador.username}} type="submit" value='Término' class='btn btn-danger'>Término</span></div></td> 
                                            {% elif display == 'saiu'  %} 
                                                <td ><div class="botao"><span id='entrada'  name={{dentro.colaborador.username}} type="submit" value='entrou' class='btn btn-primary'>Início</span> </div></td> 
                                                <td>{{dentro.entrada|date:"d/m/y H:i:s "}} </td>               
                                                <td ><div class="botao"><span id='sai' name={{dentro.colaborador.username}} type="submit" value='saiu' class='btn btn-danger'>Témino</span></div></td> 
                                                {% endif %} 
                                            {% endif %}                                     
                                     </tr>
                        {% endfor %}
                                        {% if not e or user not in l %}
                                        <!-- e ={{e}} lista= {{l}} -->
                                            <tr  class='colaborador fora'> 
                                                <td>{{ip_conec}}</td>
                                                <td><h5 id='dono'>{{ user|title }}</h5></td> 
                                                {% if display == 'reiniciar' %} 
                                                    <td ><div class="botao"><input id='entrada'  name={{user.username}} type="submit" value='Início' class='btn btn-primary'></div></td> 
                                                {% elif display == 'entrou' %} 
                                                    <td ><div class="botao"><span id='entrada'  name={{user.username}} type="submit" value='entrou' class='btn btn-primary'>Início</span></div></td> 
                                                    <td>{{entrada|date:"d/m/y H:i:s"}} </td>               
                                                    <td ><div class="botao"><input id='sai' name={{user.username}} type="submit" value='Término' class='btn btn-danger'></div></td> 
                                                {% elif display == 'saiu'  %} 
                                                    <td ><div class="botao"><span id='entrada'  name={{user.username}} type="submit" value='entrou' class='btn btn-primary'>Início</span></div></td> 
                                                    <td>{{entrada|date:"d/m/y H:i:s "}} </td>               
                                                    <td ><div class="botao"><span id='sai' name={{user.username}} type="submit" value='saiu' class='btn btn-danger'>Témino</span></div></td> 
                                                    <td >{{saida|date:"d/m/y H:i:s "}} </td>
                                                    <td ><div class="botao"><input id='reinicia' name={{user.username}} type="submit" value='Reiniciar' class='btn btn-success'></div></td>
                                                {% endif %}                                     
                                            </tr>
                                        {% endif %}
    
                {% endif %}
        </form>
        </table>
        <br><br>
        {% if user.is_authenticated %}
            {% if user in  l %}
                    <br><br><br> 
                    <form action="" method="POST">
                        {% csrf_token %}
                        <p>Suas observações:</p>
                        <input style='width : 60%;' type="text" name="obs" value={{user.username}}>
                        <button btn btn-secondary type="submit">Enviar</button>
                    </form>
                    <p>(max 300 caracteres)</p>
                    <br><br><br> 
                    <table>
                        <p>Observações registradas:</p>
                        {% for O in OBS %}                          
                                <tr class='colaborador'>
                                    <td>{{O.colaborador.username|title}}:</td>
                                    <td>" {{O.observacoes}} " </td>
                                </tr>
                            
                        {% endfor %}
                    </table>
            {% endif %}
           

        {% endif %}
    </div>
{% endblock ponto %}